[gcode_macro NOZZLE_PRIME_LINE]
description:
  Prime the nozzle by laying a strip of plastic along the front of the bed
gcode:
  NEOPIXEL_DISPLAY LED=ledstrip TYPE=print_percent MODE=glow
  SAVE_GCODE_STATE NAME=nozzle_prime_state
    #Get Printer built volume dimensions
    {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
    {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}
    {% set Z_MAX = printer.toolhead.axis_maximum.z|default(100)|float %}

    #Get Nozzle diameter and filament width for conditioning
    {% set NOZZLE = printer.extruder.nozzle_diameter|default(0.4)|float %}
    {% set FILADIA = printer.extruder.filament_diameter|default(1.75)|float %}
    
    #Set Start coordinates of priming lines
    {% set X_START = 10.0|default(10.0)|float %}
    {% set Y_START = 2.0|default(20.0)|float %}
 
    #Calculate Primer line extrusion volume and filament length
    {% set PRIMER_WIDTH = 0.75 * NOZZLE %}                    
    {% set PRIMER_HEIGHT = 0.70 * NOZZLE %}           
    {% set PRIMER_SECT = PRIMER_WIDTH * PRIMER_HEIGHT %}    
    {% set PRIMER_VOL = PRIMER_SECT * (X_MAX - 3 * X_START) %}    
    {% set FILA_SECT = 3.1415 * ( FILADIA / 2.0)**2 %}          
    {% set FILA_LENGTH = 1.55 * PRIMER_VOL / FILA_SECT %}   
  ##### end of definitions #####

#Precondition extruder
#  G1 E-1 ;Retract to prevent blob/ooze
#  G92 E0 ;Zero Extruder
  G1 X20 Y10 Z0.3 F6000 ; Move to corner Z0.3
  G1 X220 Y10 E25 F3600 ; Prime line
#  G92 E0 ; Zero extruder